O engenheiro de dados da sua empresa forneceu acesso a dois conjuntos de dados pré-processados. Agora, cabe a você analisá-los cuidadosamente para identificar quais escolas utilizaram seus recursos de forma mais eficiente na preparação de estudantes que se destacaram nas Olimpíadas de Redação e de Matemática.

In [1]:
import pandas as pd

escolas = pd.read_csv('https://drive.google.com/uc?id=1Jgto7psHaMRTAVzcFt7D6SgJiHMB7uGT')
estudantes = pd.read_csv('https://drive.google.com/uc?id=15aOJIGAyLMSY1gecjiCgu2ko_riIcKQy')

Como visualizamos o DataFrame escolas?

In [2]:
escolas

    ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0           0    Escola A     Publica           2917          1910635
1           1    Escola B     Publica           2949          1884411
2           2    Escola C  Particular           1761          1056600
3           3    Escola D     Publica           4635          3022020
4           4    Escola E  Particular           1468           917500
5           5    Escola F  Particular           2283          1319574
6           6    Escola G  Particular           1858          1081356
7           7    Escola H     Publica           4976          3124928
8           8    Escola I  Particular            427           248087
9           9    Escola J  Particular            962           585858
10         10    Escola K  Particular           1800          1049400
11         11    Escola L     Publica           3999          2547363
12         12    Escola M     Publica           4761          3094650
13         13    Escola N     Publica           2739          1763916
14         14    Escola O  Particular           1635          1043130

E o estudantes?

In [4]:
estudantes

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84
...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,7,Escola O,92,98
39156,39156,Stephanie Contreras,F,8,Escola O,79,95
39157,39157,Kristen Gonzalez,F,6,Escola O,79,94
39158,39158,Kari Holloway,F,7,Escola O,87,90
39159,39159,Kimberly Cabrera,F,8,Escola O,85,72

Já conhecemos o DataFrame escolas, mas como podemos obter mais informações sobre o estudantes?

In [9]:
estudantes.isna().sum()

ID_Estudante       0
Nome_Estudante     0
Genero             0
Serie              0
Nome_Escola        0
Nota_Redacao       0
Nota_Matematica    0
dtype: int64

Perguntas:

Existem dados faltantes nas tabelas? Não


Existe algo em comum nas duas tabelas? Nome_Escola

### Combinando os DataFrames:

In [14]:
data = pd.merge(estudantes,
                escolas,
                how='left', 
                on=["Nome_Escola", "Nome_Escola"])

data

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,7,Escola O,92,98,14,Particular,1635,1043130
39156,39156,Stephanie Contreras,F,8,Escola O,79,95,14,Particular,1635,1043130
39157,39157,Kristen Gonzalez,F,6,Escola O,79,94,14,Particular,1635,1043130
39158,39158,Kari Holloway,F,7,Escola O,87,90,14,Particular,1635,1043130
39159,39159,Kimberly Cabrera,F,8,Escola O,85,72,14,Particular,1635,1043130

Obter as informações do novo conjunto de dados:

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39160 entries, 0 to 39159
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Estudante     39160 non-null  int64
 1   Nome_Estudante   39160 non-null  object
 2   Genero           39160 non-null  object
 3   Serie            39160 non-null  int64
 4   Nome_Escola      39160 non-null  object
 5   Nota_Redacao     39160 non-null  int64
 6   Nota_Matematica  39160 non-null  int64
 7   ID_Escola        39160 non-null  int64
 8   Tipo_Escola      39160 non-null  object
 9   Numero_Alunos    39160 non-null  int64
 10  Orcamento_Anual  39160 non-null  int64
dtypes: int64(7), object(4)
memory usage: 3.3+ MB

Entendendo as variáveis categóricas:

In [20]:
categoricas = data[["Genero", "Serie", "Tipo_Escola", "Nome_Escola"]]

categoricas

      Genero  Serie Tipo_Escola Nome_Escola
0          M      6     Publica    Escola A
1          M      9     Publica    Escola A
2          M      9     Publica    Escola A
3          M      9     Publica    Escola A
4          F      6     Publica    Escola A
...      ...    ...         ...         ...
39155      M      7  Particular    Escola O
39156      F      8  Particular    Escola O
39157      F      6  Particular    Escola O
39158      F      7  Particular    Escola O
39159      F      8  Particular    Escola O

[39160 rows x 4 columns]

In [21]:
categoricas.describe()

              Serie
count  39160.000000
mean       7.359551
std        1.102796
min        6.000000
25%        6.000000
50%        7.000000
75%        8.000000
max        9.000000

In [53]:
categoricas.describe(include= ['O'])

       Genero Tipo_Escola Nome_Escola
count   39160       39160       39160
unique      2           2          15
top         F     Publica    Escola H
freq    19728       26976        4976

In [23]:
data["Genero"].unique()

array(['M', 'F'], dtype=object)

In [24]:
data["Serie"].unique()

array([6, 9, 8, 7])

In [25]:
data["Tipo_Escola"].unique()

array(['Publica', 'Particular'], dtype=object)

Algumas perguntas:

Qual o orçamento total das escolas?

Qual a nota média dos alunos nas disciplinas analisadas?

In [29]:
print("Nota média matemática: ", estudantes['Nota_Matematica'].sum()/len(estudantes))

Nota média matemática:  78.98493360572012

In [31]:
print("Nota média redação: ", estudantes['Nota_Redacao'].sum()/len(estudantes))

Nota média redação:  81.87574055158325

In [28]:
escolas["Orcamento_Anual"].sum()

np.int64(24649428)

Vamos considerar que alto desempenho sejam notas maiores que 90. Quantos alunos ficaram com nota superior a 90 em redação? E qual o percentual?

In [37]:
len(estudantes[estudantes['Nota_Redacao'] > 90])

9973

In [38]:
print(round(len(estudantes[estudantes['Nota_Redacao'] > 90])/len(estudantes) * 100,2), "%")

25.47 %

Quantos eram de escola pública?

In [42]:
data[(estudantes['Nota_Redacao'] > 90) & (data['Tipo_Escola'] == "Publica")]

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635
5,5,James Miranda,M,6,Escola A,94,94,0,Publica,2917,1910635
7,7,Mason Baker,F,9,Escola A,96,69,0,Publica,2917,1910635
8,8,Ethan Roth,M,7,Escola A,95,87,0,Publica,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37505,37505,Jason Wagner,M,9,Escola N,97,80,13,Publica,2739,1763916
37526,37526,Jon Santiago,M,7,Escola N,98,56,13,Publica,2739,1763916
37527,37527,Thomas Christensen,M,6,Escola N,98,60,13,Publica,2739,1763916
37531,37531,Bernard Reid,M,6,Escola N,94,80,13,Publica,2739,1763916
37532,37532,Dawn Sawyer,F,9,Escola N,91,66,13,Publica,2739,1763916

Quantos alunos ficaram com nota superior a 90 em matemática? E qual o percentual?

In [43]:
print(round(len(estudantes[estudantes['Nota_Matematica'] > 90])/len(estudantes) * 100,2), "%")

22.56 %

Quantos eram do sexo feminino?

In [44]:
len(data[(estudantes['Nota_Matematica'] > 90) & (data['Genero'] == "F")])

4499

Quantos alunos tiraram notas maior que 90 nas duas provas?

In [45]:
len(data[(estudantes['Nota_Matematica'] > 90) & (data['Nota_Redacao'] > 90)])

2323

In [46]:
altoDesempenho = (data[(estudantes['Nota_Matematica'] > 90) & (data['Nota_Redacao'] > 90)])

In [47]:
altoDesempenho

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
5,5,James Miranda,M,6,Escola A,94,94,0,Publica,2917,1910635
30,30,Bobby Harris,M,6,Escola A,94,99,0,Publica,2917,1910635
91,91,Mark Cherry,M,7,Escola A,96,98,0,Publica,2917,1910635
133,133,Marisa Lowe,F,6,Escola A,95,95,0,Publica,2917,1910635
181,181,Matthew Anderson,M,8,Escola A,92,99,0,Publica,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39091,39091,Jeremy Edwards,M,7,Escola O,91,98,14,Particular,1635,1043130
39121,39121,Stephanie Wilson,F,7,Escola O,94,94,14,Particular,1635,1043130
39127,39127,Robert Wood,M,6,Escola O,97,98,14,Particular,1635,1043130
39138,39138,Monica Hampton,F,6,Escola O,94,94,14,Particular,1635,1043130
39155,39155,John Brooks,M,7,Escola O,92,98,14,Particular,1635,1043130

Como ficou a distribuição dos alunos de alto desempenho pela série?

In [ ]:
altoDesempenho['Serie'].value_counts()

#quantas crianças por serie tiraram a nota maior que 90 = group by, order by, count

Serie
6    663
8    604
7    599
9    457
Name: count, dtype: int64

In [51]:
altoDesempenho.groupby('Serie')['Genero'].count()

Serie
6    663
7    599
8    604
9    457
Name: Genero, dtype: int64

Qual o total por escolas?

In [52]:
altoDesempenho['Nome_Escola'].value_counts()

Nome_Escola
Escola D    252
Escola H    252
Escola M    239
Escola L    183
Escola F    172
Escola G    155
Escola K    153
Escola A    143
Escola B    142
Escola O    129
Escola C    129
Escola E    126
Escola N    110
Escola J     96
Escola I     42
Name: count, dtype: int64

### Tarefa:

Quais escolas demonstraram maior eficiência?

Instruções:

1. Antes de analisar os dados, explique o que significa "eficiência" no contexto de escolas. Considere aspectos como o uso de recursos, desempenho acadêmico, custo-benefício, entre outros critérios relevantes.
   
2. Utilize os dados fornecidos neste documento para identificar quais escolas se destacam em termos de eficiência, de acordo com a definição estabelecida.

3. Quais diferentes formas de análise, novos resultados ou novas métricas podem ajudar a avaliar melhor a eficiência das escolas?

1. Eficiência no contexto das escolas com que estamos lidando, é referente ao desempenho dos alunos nas olimpiadasm de redação e matemática. Nesse caso, as Escolas D e H foram as mais eficientes, onde houve um quantitativo de alunos tirando com notas maior que 90 em mabas as provas;

2. Como citado anteriormente, as escolas que tiveram mais eficiência foram as escolas D e H;

3. Analisando as informações fornecidas, podemos especificar o desempenho das escolas baseado em gênero, tipo de prova, turmas (faxai-etária de idade) e tipo de escola (pública ou privada). Além destes indicadores, podemos analisar as escolas do ponto de vista financeiro, tendo em vista seus orçamentos anuais (a que consegue gerenciar os recursos de maneira mais ecomômica, certamente tem um indicador mais acentuado nesta área);